doctype html
html(lang="es")
  head
    title="8Queens"  
    link(
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css"
      rel="stylesheet"
    )
    link(
      href="css/main.css"
      rel="stylesheet"
    )
  body
    #chess-application
      #hero-container.centered-container
        #brand-container
        #stats-container
      #controls-container.centered-container

      #table-container.centered-container.flex-container.flex-center
        table#chess-table
          each fila in [1, 2, 3, 4, 5, 6, 7, 8]
            tr
              each columna in [1, 2, 3, 4, 5, 6, 7, 8]
                td= "("+fila+" , "+columna+")"