doctype html
html(lang="es")
    head
        title="8Queens"  
        link(href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css" rel="stylesheet")
        link(href="https://fonts.googleapis.com/css?family=Roboto:300,400" rel="stylesheet")
        link(href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600" rel="stylesheet")
        link(href="css/main.css" rel="stylesheet")
    body
        #chess-application
            #hero-container.centered-container
                #brand-container.flex-center
                    #time-wrapper.control-wrapper.flex-center
                    span
                        span#time-counter="0"
                        span#time-unit="s"
                #stats-container.flex-container
                    #human-box.player-box
                        .rb-status="R"
                        .fs-title.active="JUGADOR"
                        #human-icono.icon-human.fs-icon
                        .fs-puntaje="30pts"
                    .size-fixer-200
                    #robot-box.player-box
                        .rb-status="R"
                        .fs-title="MAQUINA"
                        #robot-icono.icon-robot.fs-icon
                        .fs-puntaje="20pts"
            #roulette-container.flex-center
                #play-button= "JUGAR"
            #controls-container.centered-container.flex-container
                #rollback-wrapper.control-wrapper
                    a#rollback-button="Rollback"
                #restart-wrapper.control-wrapper
                    a#restart-button="Reset"
                .size-fixer-500(style="width: 500px")
            #table-container.centered-container.flex-center
                table#chess-table
                    each fila in [1, 2, 3, 4, 5, 6, 7, 8]
                        tr
                            each columna in [1, 2, 3, 4, 5, 6, 7, 8]
                                td
        script(type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js")
        script(type="text/javascript" src="js/main.js")
